.value-code {
    color: #6a6a6a;
}

.value-text {
    color: #0000bb;
    padding-left: 10px;
}

.select {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;

    :deep(.el-select__wrapper) {
      height: 40px;
      line-height: 40px;
    }
}

.select-label {
    text-align: right;
    font-size: medium;
    padding-right: 20px;
}

.select-submit {
    text-align: right;
}

.line {
    height: 1px;
    background-color: #999999;
    margin-top: 10px;
    margin-bottom: 10px;
}
